<div class="conteneur">

        <h1>Ajouter une filière</h1>
    
    <form>
       
        <div class="form-group">
            <label for="nombre">Nom</label>
            <input type="text" id="nom" name="nom"  placeholder="Nom" class="iptform">
        </div>
         
        <div class="form-group">
            <label for="nombre">Libelle</label>
            <input type="text" id="cat" name="cat"  placeholder="libelle" class="iptform">
        </div> 

        <!-- <div class="form-group">
            <label for="nombre">Catégorie</label>
            <input type="text" id="cat" name="cat"  placeholder="Catégorie" class="iptform">
        </div> -->
        <!-- <button>ajouter</button> -->


        <div class="form-group">
            <label for="nombre">Description</label>
            <input type="text" id="cat" name="cat"  placeholder="ajouter une description" class="iptform">
        </div>

        
        <div class="action">
            <button class="enregistrer">Enregistrer</button>
        </div>
    </form>
</div>
