<!-- <div class="contenu">
    <i class="fas fa-times" style=" margin-left: 95%; cursor: pointer;" (click)="annuler()"></i>
    <h1>Conseils</h1>
    <br>
    <div style="display: flex; flex-direction: column;">
    <div class="image">
    <img src="../assets/img/theme/plante.png" alt="">
    </div>
     <br>


    <div class="description">
    <h1>Description</h1>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
         Adipisci cupiditate voluptate illo quisquam reiciendis eum nobis? 
         Soluta obcaecati repellendus ipsum velit repellat
         fugiat quo explicabo modi, quia, atque dolorem ea!
        </p>
    </div>

    <div class="video">
        <video width="400" height="200" controls>
         <source src="https://www.youtube.com/watch?v=vI185qymSVo" type="video/mp4">
          </video>
    </div>

    <div class="vocal">


    </div>

     

      <div style="display: flex; flex-direction: row;  margin-left: 100px;
">
        <button>Valider</button>
        <br>
        <button>Désactiver</button>       
      </div>
    </div>
</div>
   -->

<h1>hello</h1>
   <!-- <div class="card">
    <div class="card-header">All form elements</div>
    <div class="card-body">
        <h5 class="card-title"></h5>
        <form class="">
            <div class="mb-3 row">
                <label class="col-sm-2">Normal</label>
                <div class="col-sm-10">
                    <input type="text" name="" class="form-control">
                </div>
            </div>
            <div class="line"></div><br>
            <div class="mb-3 row">
                <label class="col-sm-2">Help text</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control">
                    <small class="form-text text-muted">A help text that brings hint to users.</small>
                </div>
            </div>
            <div class="line"></div><br>
            <div class="mb-3 row">
                <label class="col-sm-2">Password</label>
                <div class="col-sm-10">
                    <input type="password" name="password" class="form-control">
                </div>
            </div>
            <div class="line"></div><br>
            <div class="mb-3 row">
                <label class="col-sm-2">Placeholder</label>
                <div class="col-sm-10">
                    <input type="text" placeholder="placeholder" class="form-control">
                </div>
            </div>
            <div class="line"></div><br>
            <div class="mb-3 row">
                <label class="col-sm-2">Disabled</label>
                <div class="col-sm-10">
                    <input type="text" disabled="" placeholder="disabled or read only input here" class="form-control" readonly>
                </div>
            </div>
            <div class="line"></div><br>
            <div class="mb-3 row">
                <label class="col-sm-2">Checkboxes and radios <br>
                    <small class="text-info">Normal Bootstrap elements</small>
                </label>
                <div class="col-sm-10">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="check2">
                      <label class="form-check-label" for="check2">
                        Check this default checkbox
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="flexRadioDefault" id="radio1">
                      <label class="form-check-label" for="radio1">
                        Default radio
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="flexRadioDefault" id="radio2" checked>
                      <label class="form-check-label" for="radio2">
                        Default checked radio
                      </label>
                    </div>
                </div>
            </div>
            <div class="line"></div><br>
            <div class="mb-3 row">
                <label class="col-sm-2">Inline checkboxes</label>
                <div class="col-sm-10">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                      <label class="form-check-label" for="inlineCheckbox1">1</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                      <label class="form-check-label" for="inlineCheckbox2">2</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" disabled>
                      <label class="form-check-label" for="inlineCheckbox3">3 (disabled)</label>
                    </div>
                </div>
            </div>
            <div class="line"></div><br>
            <div class="mb-3 row">
                <label class="col-sm-2">Toggle Switch<br>
                    <small class="text-info">Custom elements</small>
                </label>
                <div class="col-sm-10">
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                      <label class="form-check-label" for="flexSwitchCheckDefault">Default switch checkbox input</label>
                    </div>
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                      <label class="form-check-label" for="flexSwitchCheckChecked">Checked switch checkbox input</label>
                    </div>
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" id="flexSwitchCheckDisabled" disabled>
                      <label class="form-check-label" for="flexSwitchCheckDisabled">Disabled switch checkbox input</label>
                    </div>
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" id="flexSwitchCheckCheckedDisabled" checked disabled>
                      <label class="form-check-label" for="flexSwitchCheckCheckedDisabled">Disabled checked switch checkbox input</label>
                    </div>
                </div>
            </div>
            <div class="line"></div><br>
            <div class="mb-3 row">
                <label class="col-sm-2">Select</label>
                <div class="col-sm-10 select">
                    <select name="" class="form-select">
                        <option value="">option 1</option>
                        <option value="">option 2</option>
                        <option value="">option 3</option>
                        <option value="">option 4</option>
                    </select>
                </div>
                <div class="col-sm-10 offset-sm-2 select">
                    <br>
                    <select name="" multiple="" class="form-select">
                        <option value="">option 1</option>
                        <option value="">option 2</option>
                        <option value="">option 3</option>
                        <option value="">option 4</option>
                    </select>
                    <small class="form-text">Select for than one</small>
                </div>
            </div>
            <div class="line"></div><br>
            <div class="mb-3 row">
                <label class="col-sm-2">Input with success</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control is-valid">
                </div>
            </div>
            <div class="line"></div><br>
            <div class="mb-3 row">
                <label class="col-sm-2">Input with warning</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control is-invalid">
                </div>
            </div>
            <div class="line"></div><br>
            <div class="mb-3 row has-danger">
                <label class="col-sm-2">Input with error</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control is-invalid">
                    <div class="invalid-feedback">Read error message here.</div>
                </div>
            </div>
            <div class="line"></div><br>
            <div class="mb-3 row">
                <label class="col-sm-2">Control sizing</label>
                <div class="col-sm-10">
                    <div class="mb-3">
                        <input type="text" placeholder=".form-control-lg" class="form-control form-control-lg">
                    </div>
                    <div class="mb-3">
                        <input type="text" placeholder=".form-control" class="form-control">
                    </div>
                    <div class="mb-3">
                        <input type="text" placeholder=".form-control-sm" class="form-control form-control-sm">
                    </div>
                </div>
            </div>
            <div class="line"></div><br>
            <div class="mb-3 row">
                <label class="col-sm-2">Column sizing</label>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-md-2">
                            <input type="text" placeholder=".col-md-2" class="form-control">
                        </div>
                        <div class="col-md-3">
                            <input type="text" placeholder=".col-md-3" class="form-control">
                        </div>
                        <div class="col-md-4">
                            <input type="text" placeholder=".col-md-4" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="line"></div><br>
            <div class="mb-3 row">
                <label class="col-sm-2">Input groups</label>
                <div class="col-sm-10">
                    <div class="mb-3">
                        <div class="input-group mb-3">
                          <span class="input-group-text" id="basic-addon1"></span>
                          <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="input-group mb-3">
                          <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                          <span class="input-group-text">.00</span>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="input-group mb-3">
                          <span class="input-group-text">$</span>
                          <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                          <span class="input-group-text">.00</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="line"></div><br>
            <div class="mb-3 row">
                <label class="col-sm-2">Button addons</label>
                <div class="col-sm-10">
                    <div class="mb-3">
                        <div class="input-group mb-3">
                          <button class="btn btn-primary" type="button" id="button-addon1">Go!</button>
                          <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="input-group mb-3">
                          <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon2">
                          <button class="btn btn-primary" type="button" id="button-addon2">Go!</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="line"></div><br>
            <div class="mb-3 row">
                <div class="col-sm-4 offset-sm-2">
                    <button type="submit" class="btn btn-secondary mb-2"><i class="fas fa-times"></i> Cancel</button>
                    <button type="submit" class="btn btn-primary mb-2"><i class="fas fa-save"></i> Save</button>
                </div>
            </div>
        </form>
    </div>
</div> -->