<!-- <div class="header bg-gradient-danger pb-5 pt-3 pt-md-5">
  
</div>
<div class="ajout">
    <button class="btn"  (click)="openDialog()">
      Ajouter une Catégorie
    </button>
  </div>
 <br>


<div class="row">
  <div class="col">
    <div class="card shadow">
      <div class="card-header border-0">
        <h3 class="mb-0">Liste des Catégories</h3>
      </div>
      <div class="table-responsive">
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
            <tr>
             
              <th>Code</th>
              <th>Libelle</th>
              <th>Description</th>
              <th>Filière</th>
              <th>Statut</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>lorem</td>
              <td>lorem</td>
              <td>lorem</td>
              <td>lorem</td>
              <td>Activer</td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
 -->

 <div class="box-body">
  <div class="container-fluid">
    <button type="button" style="margin-left: 90%;" class="btn btn-primary mb-2"  (click)="openDialog()">Ajouter</button>
      <div class="page-title">
          <h3> Liste des Catégories             
          </h3>
      </div>
      <div class="box box-primary">
        <div>
          <input class="form-control" type="text" placeholder="Search"/>
        </div>
              <table width="80%" class="table table-hover" id="dataTables-example">
                  <thead>
                      <tr>
                        <th>ID</th>
                        <th>Code</th>
                        <th>Libelle</th>
                        <th>Description</th>
                        <th>Filière</th>
                        <th>Statut</th>
                      </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>lorem</td>
                      <td>lorem</td>
                      <td>lorem</td>
                      <td>lorem</td>
                      <td>lorem</td>
                      <td>
                          <div class="custom-control custom-switch">
                              <input type="checkbox" class="custom-control-input" id="customSwitches1">
                              <label class="custom-control-label" for="customSwitches1"></label>
                          </div>
                      </td>
                  </tr>
                      
                  </tbody>
              </table>
          </div>
      </div>
  </div>
