<!-- <div class="header bg-gradient-danger pb-5 pt-3 pt-md-5">
  
</div>
<div class="container">
   
  <div class="filtre">
  <select id="typeFiltre">
    <option value="producteurs">Producteurs</option>
    <option value="transporteurs">Transporteurs</option>
    <option value="transformateurs">Transformateurs</option>
  </select>
</div>
 
<div class="ajout">
  <button class="btn" (click)="openDialog()">Envoyer un message</button>

</div>
   <br> 
   
  
   <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Liste des utilisateurs</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th>Sélection</th>
                <th>Avatar</th>
                <th>Nom</th>
                <th>Contact</th>
                <th>Email</th>
                <th>Adresse</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><input type="checkbox" class="check"></td>
                <td>lorem</td>
                <td>lorem</td>
                <td>lorem</td>
                <td>lorem</td>
                <td>lorem</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
   -->


   <div class="box-body">
    <div class="container-fluid">
      <div class="page-title" style="text-align: center; font-size: 40px;">
        <h3>liste des Types d'acteurs</h3>
       </div>
       <button type="button" class="btn btn-primary mb-2"  (click)="openDialog()">Ajouter</button> 
        <div class="box box-primary">
          <div>
            <input class="form-control" type="text" placeholder="Search"/>
          </div>
                <table width="80%" class="table table-hover" id="dataTables-example">
                    <thead>
                        <tr>
                          <th>Sélection</th>
                           <th>Type de Compte</th>
                           <th>Nom</th>
                           <th>Contact</th>
                            <th>Email</th>
                            <th>Adresse</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                          <td><input type="checkbox" class="check"></td>
                           <td>lorem</td>
                            <td>lorem</td>
                             <td>lorem</td>
                              <td>lorem</td>
                              <td>lorem</td>
                        </tr>
                        <tr>
                          <td><input type="checkbox" class="check"></td>
                           <td>lorem</td>
                            <td>lorem</td>
                             <td>lorem</td>
                              <td>lorem</td>
                              <td>lorem</td>
                        </tr>
                        <tr>
                          <td><input type="checkbox" class="check"></td>
                           <td>lorem</td>
                            <td>lorem</td>
                             <td>lorem</td>
                              <td>lorem</td>
                              <td>lorem</td>
                        </tr>
                        <tr>
                          <td><input type="checkbox" class="check"></td>
                           <td>lorem</td>
                            <td>lorem</td>
                             <td>lorem</td>
                              <td>lorem</td>
                              <td>lorem</td>
                        </tr>
                        <tr>
                          <td><input type="checkbox" class="check"></td>
                           <td>lorem</td>
                            <td>lorem</td>
                             <td>lorem</td>
                              <td>lorem</td>
                              <td>lorem</td>
                        </tr>
                        <tr>
                          <td><input type="checkbox" class="check"></td>
                           <td>lorem</td>
                            <td>lorem</td>
                             <td>lorem</td>
                              <td>lorem</td>
                              <td>lorem</td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
  