

<div class="container">
   
  <div class="filtre">
  <select id="typeFiltre">
    <option value="producteurs">Producteurs</option>
    <option value="transporteurs">Transporteurs</option>
    <option value="transformateurs">Transformateurs</option>
  </select>
</div>
 
<div class="ajout">
  <button class="btn" (click)="openDialog()">Envoyer un message</button>
</div>
    <!-- <label for="typeFiltre">Filtrer par :</label> -->
    
 

    <div  class="row justify-content-center">
    <table>
      <thead>
          <tr>
               <th></th>
              <th>Avatar</th>
              <th>Nom</th>
              <th>Contact</th>
              <th>Email</th>
              <th>Adresse</th>
          </tr>
      </thead>
      <tbody>
        <tr >
          <!-- Adjust the properties based on your data structure -->
          <td><input type="checkbox" class="check"></td>
          <td><img src="../assets/user.png"></td>
          <td>lorem</td>
          <td>lorem</td>
          <td>lorem</td>
          <td>lorem</td>
         
        </tr>
      </tbody>
  </table>
</div>
   </div>
  
  