<div class="container">
    <div  class="row justify-content-center">
    <table>
      <thead>
          <tr>
               <th></th>
              <th>Avatar</th>
              <th>Code</th>
              <th>Nom</th>
              <th>Type</th>
              <th>Adresse</th>
              <th>Telephone</th>
              <th>Action</th>
          </tr>
      </thead>
      <tbody>
        <tr >
          <!-- Adjust the properties based on your data structure -->
          <td><input type="checkbox" class="check"></td>
          <td><img src="../assets/img/theme/acteur.webp"></td>
          <td>lorem</td>
          <td>lorem</td>
          <td>lorem</td>
          <td>lorem</td>
          <td>lorem</td>
          <td><button class="pr" (click)="openDialog()">voir profil</button></td>
        </tr>
      </tbody>
  </table>
</div>
   </div>
  
  