<div class="conteneur">
    <i class="fas fa-times" style=" margin-left: 95%; cursor: pointer;" (click)="annuler()"></i>

    <h1>Ajouter un acteur</h1>

<form>
   
    <div class="form-group">
        <label for="nombre">Nom</label>
        <input type="text" id="nom" name="nom"  placeholder="Nom" class="iptform">
    </div>
     

    <div class="form-group">
        <label for="nombre">Description</label>
        <input type="text" id="cat" name="cat"  placeholder="ajouter une description" class="iptform">
    </div>

    
    <div class="action">
        <button class="enregistrer">Enregistrer</button>
    </div>
</form>
</div>
