<div class="contenu">
    <i class="fas fa-times" style=" margin-left: 95%; cursor: pointer;" (click)="annuler()"></i>
    <h1>Conseils</h1>
    <br>
    <div style="display: flex; flex-direction: column;">
    <div class="image">
    <img src="../assets/img/theme/plante.png" alt="">
    </div>
     <br>


    <div class="description">
    <h1>Description</h1>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
         Adipisci cupiditate voluptate illo quisquam reiciendis eum nobis? 
         Soluta obcaecati repellendus ipsum velit repellat
         fugiat quo explicabo modi, quia, atque dolorem ea!
        </p>
    </div>

    <div class="video">
        <video width="400" height="200" controls>
         <source src="https://www.youtube.com/watch?v=vI185qymSVo" type="video/mp4">
          </video>
    </div>

    <div class="vocal">


    </div>

     

      <div style="display: flex; flex-direction: row;  margin-left: 100px;
">
        <button>Valider</button>
        <br>
        <button>Désactiver</button>       
      </div>
    </div>
</div>
  