

table {
    width: 100%;
    // border-collapse: collapse;
    border: 2px solid white;
    background: white;
    margin-top: 40px!important;
    z-index: 100 !important;
}

thead {
    background: var(--white, #FFF);
    min-height: 10%;
}

th {
    padding: 10px 15px;
    text-align: left;
    border-bottom: 2px solid var(--gray-blue-grey-blue-97, #F5F6F7);
    color: #2B6706;
font-feature-settings: 'clig' off, 'liga' off;

/* Bold/Bold 12 */
font-family: Roboto;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: 20px; /* 166.667% */
}

td, input {
    padding: 15px 15px;
    text-align: left;
    border-radius: 5px;
    border: 2px solid var(--gray-blue-grey-blue-96, #F2F3F5);
    background: var(--white-white, #FFF);
    box-shadow: 0px 2px 10px 0px rgba(38, 51, 77, 0.03);
    color: var(--gray-blue-grey-blue-50, #4D5E80);
font-feature-settings: 'clig' off, 'liga' off;

/* Bold/Bold 12 */
font-family: Roboto;
font-size: 10px;
font-style: normal;
font-weight: 700;
line-height: 20px; /* 166.667% */
}

.check {
    display: flex;
    width: 20px;
    height: 20px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 2px solid var(--gray-blue-grey-blue-96, #F2F3F5);
    background: var(--white-white, #FFF);
    box-shadow: 0px 2px 10px 0px rgba(38, 51, 77, 0.03);
}

.supp{
    color: red;
    cursor: pointer;
    font-size: 15px;
}

.btn{
        
    width: 150px;
    height: 35px;
    padding: 6px 0px 6px 8px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 5px;
background: var(--color1, #f77605);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
margin-left: 80%;
margin-top: 60px;
}



.rechercher{
    
margin-top: -15px;
margin-left: 10px;
}
input{
    width: 200px;
    height: 35px;
    border-radius: 10px;
background-color: white;
border-color: #2B6706;

}

form, input,::placeholder{
    font-size: 15px;
}

// button{
//     width: 181px;
//     height: 50px;
//     flex-shrink: 0;
//     border-radius: 8px;
// background: var(--color1, #48436B);
// box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
// color: var(--white, var(--white, #FFF));
// text-align: center;
// font-family: Poppins;
// font-size: 14px;
// font-style: normal;
// font-weight: 600;
// line-height: normal;
// letter-spacing: 0.5px;
// cursor: pointer;
// }

img{
width: 40px;
height: 40px;
}

