<!-- <div class="header bg-gradient-danger pb-5 pt-3 pt-md-5"></div>

<div class="ajout">
  <button class="btn" (click)="openDialog()">
    Ajouter un acteur
  </button>
</div>
<br>
<div class="row">
  <div class="col">
    <div class="card shadow">
      <div class="card-header border-0">
        <h3 class="mb-0">Liste des Acteurs</h3>
      </div>
      <div class="table-responsive">
        <table class="table align-items-center table-flush" style="width: 100%;">
          <thead class="thead-light">
            <tr>
              <th>ID</th>
              <th>Code</th>
              <th>libelle</th>
              <th>description</th>
              <th>Date d'ajout</th>
              <th>Date Modification</th>
              <th>Personne</th>
              <th>Action</th>
              <th>Statut</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>lorem</td>
              <td>lorem</td>
              <td>lorem</td>
              <td>lorem</td>
              <td>lorem</td>
              <td>lorem</td>
              <td>lorem</td>
              <td>
                <button class="modify" title="Modifier">
                  <i class="fas fa-edit"></i>
                </button>
                <button class="delete" title="Supprimer">
                  <i class="fas fa-trash"></i>
                </button>
              </td>
              <td  id="bouton" (click)="change()">Activer</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div> -->



<div class="box-body">
  <div class="container-fluid">
      <div class="page-title" style="text-align: center; font-size: 40px;">
       <h3>liste des Types d'acteurs</h3>
      </div>
      <button type="button" class="btn btn-primary mb-2"  (click)="openDialog()">Ajouter</button>

      <div class="box box-primary">
        <div>
          <input class="form-control" type="text" placeholder="Search"/>
        </div>
          <!-- <div class="box-body"> -->
              <table width="100%" class="table table-hover" id="dataTables-example">
                  <thead>
                      <tr>
                          <th>ID</th>
                         <th>Code</th>
                         <th>libelle</th>
                         <th>description</th>
                         <th>Date d'ajout</th>
                         <th>Date Modification</th>
                         <th>Personne</th>
                         <th>Statut</th>
                         <th></th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td>1</td>
                          <td>00</td>
                          <td>philip.chaneygmail.com</td>
                          <td>Manager</td>
                          <td>Admin</td>
                          <td>Admin</td>
                          <td>Sy</td>
                          <td>
                            <!-- Default switch -->
                            <div class="custom-control custom-switch">
                              <input type="checkbox" class="custom-control-input" id="customSwitches">
                              <label class="custom-control-label" for="customSwitches"></label>
                            </div>
                          </td>
                          
                          <td class="text-end">
                              <a href="" class="btn btn-outline-info btn-rounded"><i class="fas fa-pen"></i></a>
                              <a href="" class="btn btn-outline-danger btn-rounded"><i class="fas fa-trash"></i></a>

                          </td>
                      </tr>

                      <tr>
                        <td>1</td>
                        <td>00</td>
                        <td>philip.chaneygmail.com</td>
                        <td>Manager</td>
                        <td>Admin</td>
                        <td>Admin</td>
                        <td>Sy</td>
                        <td>
                          <!-- Default switch -->
                          <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="customSwitches">
                            <label class="custom-control-label" for="customSwitches"></label>
                          </div>
                        </td>
                        
                        <td class="text-end">
                            <a href="" class="btn btn-outline-info btn-rounded"><i class="fas fa-pen"></i></a>
                            <a href="" class="btn btn-outline-danger btn-rounded"><i class="fas fa-trash"></i></a>

                        </td>
                    </tr>

                    <tr>
                      <td>1</td>
                      <td>00</td>
                      <td>philip.chaneygmail.com</td>
                      <td>Manager</td>
                      <td>Admin</td>
                      <td>Admin</td>
                      <td>Sy</td>
                      <td>
                        <!-- Default switch -->
                        <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input" id="customSwitches">
                          <label class="custom-control-label" for="customSwitches"></label>
                        </div>
                      </td>
                      
                      <td class="text-end">
                          <a href="" class="btn btn-outline-info btn-rounded"><i class="fas fa-pen"></i></a>
                          <a href="" class="btn btn-outline-danger btn-rounded"><i class="fas fa-trash"></i></a>

                      </td>
                  </tr>

                  <tr>
                    <td>1</td>
                    <td>00</td>
                    <td>philip.chaneygmail.com</td>
                    <td>Manager</td>
                    <td>Admin</td>
                    <td>Admin</td>
                    <td>Sy</td>
                    <td>
                      <!-- Default switch -->
                      <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="customSwitches">
                        <label class="custom-control-label" for="customSwitches"></label>
                      </div>
                    </td>
                    
                    <td class="text-end">
                        <a href="" class="btn btn-outline-info btn-rounded"><i class="fas fa-pen"></i></a>
                        <a href="" class="btn btn-outline-danger btn-rounded"><i class="fas fa-trash"></i></a>

                    </td>
                </tr>

                <tr>
                  <td>1</td>
                  <td>00</td>
                  <td>philip.chaneygmail.com</td>
                  <td>Manager</td>
                  <td>Admin</td>
                  <td>Admin</td>
                  <td>Sy</td>
                  <td>
                    <!-- Default switch -->
                    <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" id="customSwitches">
                      <label class="custom-control-label" for="customSwitches"></label>
                    </div>
                  </td>
                  
                  <td class="text-end">
                      <a href="" class="btn btn-outline-info btn-rounded"><i class="fas fa-pen"></i></a>
                      <a href="" class="btn btn-outline-danger btn-rounded"><i class="fas fa-trash"></i></a>

                  </td>
              </tr>
                      <!-- Add more rows as needed -->

                  </tbody>
              </table>
          <!-- </div> -->
      </div>
  </div>
</div>
