
<div class="container">
    <div class="barre">
        <div class="i">
          <img src="../assets/logo.png" alt="">
        </div>
        <nav class="menu">
          <ul>
            <li style="color: #12b852;"><a routerLink="/accueil">Accueil</a></li>
            <li><a routerLink="/journall">Mes plats</a></li>
            <li><a routerLink="/planification">Planifaction</a></li>
            <li><a routerLink="/calorie">Calorie</a></li>
            <li><a routerLink="/objectif">Objectif</a></li>

          </ul>
        </nav>
        
      </div>
</div>

<div>
    <router-outlet></router-outlet>
  </div>

