.navbar navbar-vertical navbar-expand-md navbar-light bg-white{
    background-color: #227206;

}
#sidenav-main {
    border-radius: 15px !important; 
  }
.navbar-brand-img{
    width: 70%;
    height: 70%;
}