<!-- <div class="conteneur">
    <i class="fas fa-times" style=" margin-left: 95%; cursor: pointer;" (click)="annuler()"></i>

    <h1>Ajouter un pays</h1>

<form>
   
    <div class="form-group">
        <label for="nombre">Nom</label>
        <input type="text" id="nom" name="nom"  placeholder="Nom" class="iptform">
    </div>
     

    <div class="form-group">
        <label for="nombre">Description</label>
        <input type="text" id="cat" name="cat"  placeholder="Coordonnées" class="iptform">
    </div>

  
    <div class="action">
        <button class="enregistrer">Enregistrer</button>
    </div>
</form>
</div> -->

<div class="container">
    <div class="card mb-30">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="card-title" style="font-size: 20px;">Ajouter un pays</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="annuler()"></button>
      </div>
      <div class="card-body">
        <form>
          <div class="mb-3">
            <label for="nom" class="form-label">Nom</label>
            <input type="text" class="form-control" id="nom" placeholder="Entrez le nom">
          </div>

          <div class="mb-3">
            <label for="nom" class="form-label">Description</label>
            <input type="text" class="form-control" id="nom" placeholder="description">
          </div>
          <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary">Valider</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  