

<div class="container">

        <!-- card animaux -->
        <div class="carte">
        <!-- card 1 -->
        <div class="card" >
        <div class="ctn">
        <h1>TitreConseils</h1>
        <p>Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit </p>
        <button (click)="openDialog()">Voir</button>
        </div>
        </div>

        <!-- card 2-->
        <div class="card" >
            <div class="ctn">
            <h1>TitreConseils</h1>
            <p>Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit </p>
            <button>Voir</button>
            </div>
            </div>

            <!-- card 3 -->
            <div class="card" >
                <div class="ctn">
                <h1>TitreConseils</h1>
                <p>Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit </p>
                <button>Voir</button>
                </div>
                </div>
            
            <!-- card 4 -->
            <div class="card" >
                <div class="ctn">
                <h1>TitreConseils</h1>
                <p>Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit </p>
                <button>Voir</button>
                </div>
                </div>

    

        </div>
       
        </div>
  