<div class="content-fluid" style="margin-left: 60px !important; margin-top: 40px;">
  <div class="container">
    <div class="row">
      <div class="col-sm">

        <div class="card text-center" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a class="btn btn-primary" routerLink="['/path']">Voir</a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card text-center" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Voir</a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card text-center" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Voir</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <ul class="list-unstyled components text-secondary">
  <li *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
      <a routerLinkActive="active" [routerLink]="[menuItem.path]" class="nav-link">
          <i class="ni {{menuItem.icon}}"></i>
          {{menuItem.title}}
      </a>
  </li>
</ul> -->

