<div class="contenu">
    <i class="fas fa-times" style=" margin-left: 95%; cursor: pointer;" (click)="annuler()"></i>
    <h1>Type Acteur</h1>
    <br>
    <div class="container">
        <span class="label">Nom</span>
        <span>Awa</span>
      </div>

      <div class="container">
        <span class="label">Adresse</span>
        <span>Kati</span>
      </div>

      <div class="container">
        <span class="label">Téléphone</span>
        <span>0000000</span>
      </div>
    <button>Valider</button>
</div>
  