
   <div class="card">
    <div class="card-header">Paramètre généraux</div>
    <div class="card-body">
        <!-- <h5 class="card-title">Example form with inline field validations</h5> -->
        <form class="needs-validation" novalidate accept-charset="utf-8">
            <div class="row g-2">
                <div class="mb-3 col-md-6">
                    <label for="email" class="form-label">Photo</label>
                    <input type="file" class="form-control">

                </div>
                <div class="mb-3 col-md-6">
                    <label for="password" class="form-label">Description</label>
                    <input type="text" class="form-control" name="description" placeholder="Description">
                    
                </div>
            </div>
            <div class="mb-3">
                <label for="address" class="form-label">Nom Structure</label>
                <input type="text" class="form-control" name="nom structure" placeholder="Nom Structure" required>
               
            </div>

            <div class="mb-3">
                <label for="address" class="form-label">Sigle Structure</label>
                <input type="text" class="form-control" name="nom structure" placeholder="Nom Structure" required>
               
            </div>

            <div class="row g-2">

                <div class="mb-3 col-md-6">
                    <label for="password" class="form-label">Adresse</label>
                    <input type="text" class="form-control" name="description" placeholder="Description">
                    
                </div>
                <div class="mb-3 col-md-6">
                    <label for="password" class="form-label">Téléphone</label>
                    <input type="text" class="form-control" name="description" placeholder="Description" required>
                    
                </div>
            </div>
            <div class="mb-3">
                <label for="address" class="form-label">WhatsApp</label>
                <input type="text" class="form-control" name="whatsApp" placeholder="WhatsApp" required>
               
            </div>
            <div class="mb-3">
                <label for="address" class="form-label">Localité</label>
                <input type="text" class="form-control" name="whatsApp" placeholder="WhatsApp" required>
               
            </div>
            <div class="row g-2">

                <div class="mb-3 col-md-6">
                    <label for="password" class="form-label">Niveau 1</label>
                    <input type="text" class="form-control" name="description" placeholder="Description">
                    
                </div>
                <div class="mb-3 col-md-6">
                    <label for="password" class="form-label">Niveau 2</label>
                    <input type="text" class="form-control" name="description" placeholder="Description" required>
                    
                </div>
                <div class="mb-3 col-md-6">
                    <label for="password" class="form-label">Niveau 3</label>
                    <input type="text" class="form-control" name="description" placeholder="Description" required>
                    
                </div>
            </div>
            
            <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i>Enregistrer</button>
        </form>
    </div>
</div>